<mat-card>
  <mat-card-title fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
    <div fxFlexOrder.gt-sm="2" class="title">
      <span>NEOSKILLER</span>
    </div>
    <div fxFlexOrder.gt-sm="1">Character Information</div>
  </mat-card-title>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px">
    <div fxLayout="column" fxLayout.gt-xs="row" fxFlex="50" fxLayoutGap="15px">
      <mat-form-field fxFlex>
        <mat-label>Name</mat-label>
        <input
          matInput
          [(ngModel)]="character.name"
          minlength="5"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Runner class</mat-label>
        <mat-select
          (selectionChange)="changeClass($event)"
          [(ngModel)]="character.class"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let class of classes" [value]="class">
            {{ class }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" fxLayoutGap="10px" class="options align-right">
      <button mat-raised-button color="primary" (click)="createCharacter()">
        Create
      </button>
      <button mat-raised-button color="primary" (click)="saveCharacter()">
        Save
      </button>
      <button mat-raised-button color="primary" (click)="loadCharacter()">
        Load
      </button>
      <button mat-raised-button color="primary" (click)="shareCharacter()">
        Share
      </button>
      <button mat-raised-button color="primary" (click)="exportCharacter()">
        Export Image
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
