<div
  class="margintop"
  fxLayout="row wrap"
  fxFlex>
  <app-genericslot
    fxFlex="50"
    fxFlex.gt-xs="33.3"
    itemName="combatBuffs"
    [character]="character"
  ></app-genericslot>
  <app-genericslot
    fxFlex="50"
    fxFlex.gt-xs="33.3"
    itemName="resistBuffs"
    [character]="character"
  ></app-genericslot>
  <app-genericslot
    fxFlex="50"
    fxFlex.gt-xs="33.3"
    itemName="tradeskillBuffs"
    [character]="character"
  ></app-genericslot>
</div>
