
<div class="item-description full-width" *ngIf="item" fxLayout="row" fxLayoutGap="5%">
  <div *ngIf="!bigPicture" fxFlex="12" class="image-container">
    <img *ngIf="item.image" [src]="item.image?.url" />
  </div>
  <div *ngIf="bigPicture" fxFlex="20" class="image-container">
    <img *ngIf="item.image" class="is-big-picture" [src]="item.image?.url" />
  </div>
  <div fxLayout="column" fxFlex="83">
    <div class="label full-width">{{ item.name }}</div>
    <div *ngIf="!hideReq" class="item-requirement">
      <ng-container *ngFor="let requirement of item.requirements">
          <span *ngIf="requirement.value">{{ requirement.shortName}} {{ requirement.value }}</span>
      </ng-container>
    </div>
    <div fxLayout="column" class="full-width">
      <div>
        <ng-container *ngFor="let modifier of item.modifiers">
            <span class="item-modifier" *ngIf="modifier.value >= 0">
              {{ modifier.shortName }} <span class="modifier-bonus">{{ skillCalculation.formatModifier(modifier.value) || 1 }}</span>
            </span>
        </ng-container>
      </div>
      <div>
        <ng-container *ngFor="let modifier of item.modifiers">
            <span class="item-modifier" *ngIf="modifier.value < 0">
              {{ modifier.shortName }} <span class="modifier-malus">{{ skillCalculation.formatModifier(modifier.value) }}</span>
            </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
