<mat-card
  class="full-height"
  fxLayoutAlign="start center"
  *ngIf="character"
  fxLayout.lt-sm="row"
  fxLayout.gt-sm="column"
>
  <mat-tab-group
    class="full-width"
    animationDuration="0ms"
    (selectedTabChange)="switchToTab($event)"
  >
    <mat-tab label="Implants" class="full-height">
      <app-implants [character]="character"></app-implants>
    </mat-tab>
    <mat-tab label="Armor" class="full-height"
      ><app-armor [character]="character"></app-armor
    ></mat-tab>
    <mat-tab label="Psi" class="full-height">
      <app-psi [character]="character"></app-psi>
    </mat-tab>
    <mat-tab label="Drugs" class="full-height">
      <app-drugs
        [character]="character"
        [drugFlashIndex]="drugFlashIndex"
      ></app-drugs
      ></mat-tab>
    <mat-tab label="Protection" class="full-height">
      <app-protection></app-protection>
    </mat-tab>
    <mat-tab label="Weapons" class="full-height">
      <app-weapons [character]="character"></app-weapons>
    </mat-tab>
  </mat-tab-group>
</mat-card>
