<mat-card style="overflow-x: auto;">
  <div class="resist-container">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
</mat-card>

