  <span fxFlex="95">{{data}}</span>
  <span fxFlex="5">
  <button
    mat-button
    [cdkCopyToClipboard]="data"
    mat-icon-button
    matSuffix
    color="primary"
  >
    <mat-icon>file_copy</mat-icon>
  </button>
  </span>

