<div
  appTooltip
  [dataEntry]="character.setup[itemName]"
  (click)="removeSlot(itemName)"
  class="itemslot-wrapper"
>
  <figure class="itemslot-content">
    <img
      *ngIf="character.setup[itemName]?.image"
      [src]="character.setup[itemName]?.image.url"
    />
    <figcaption *ngIf="!character.setup[itemName]">{{ label }}</figcaption>
    <figcaption *ngIf="character.setup[itemName]">
      {{ character.setup[itemName]?.name }}
    </figcaption>
  </figure>
</div>
