<mat-card class="full-height">
  <form fxLayout="column" fxLayoutGap="10px">
    <div class="align-right">
      <button mat-raised-button
              color="primary"
              (click)="capCharacter()"
        type="button"
      >
        Cap Character
        <mat-icon>trending_up</mat-icon>
      </button>
    </div>

    <div fxLayout="column" fxLayoutGap="1em">
      <mat-tab-group
        class="full-width"
         mat-stretch-tabs>
        <ng-container *ngFor="let limits of skillCalculation.selectedClassLimits.limits; let i = index">
          <mat-tab label="{{ limits.skill.toUpperCase() }} {{ skillCalculation.calculateSkill(character.modifiers[limits.skill], character.skills[limits.skill]) }}">
            <div>
              <mat-list>
                <mat-list-item>
                  <div
                    fxLayout="row"
                    fxFlex="90"
                    fxLayoutGap="1em"
                  >
                    <div fxFlex.gt-sm="30" fxFlex="50">Base:</div>
                    <div fxFlex.gt-sm="20" fxFlex="20">
                      <input
                        (blur)="updateCharacterBaseskill(limits.skill)"
                        matInput
                        tabindex="10"
                        (keydown.enter)="$event.target.blur(); (false)"
                        autocomplete="off"
                        class="editable"
                        type="number"
                        placeholder="0"
                        [(ngModel)]="character.skills[limits.skill]"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div
                      fxFlex.gt-sm="10"
                      fxFlex="20"
                      class="align-right"
                      [ngClass]="(character.modifiers[limits.skill] >= 0 || !character.modifiers[limits.skill])?'modifier-bonus':'modifier-malus'"
                    >
                      {{ skillCalculation.formatModifier(character.modifiers[limits.skill]) || 0 }}
                    </div>
                    <div
                      fxFlex="10"
                      class="align-right">
                      {{ skillCalculation.calculateSkill(character.modifiers[limits.skill], character.skills[limits.skill]) }}
                    </div>
                  </div>
                  <button
                    (click)="
                  increment(limits.skill, true, limits.skill);
                "
                    type="button"
                    mat-icon-button
                    color="primary"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  <button
                    (click)="
                  decrement(limits.skill, true, limits.skill);
                "
                    mat-icon-button
                    type="button"
                    color="primary"
                  >
                    <mat-icon small>remove</mat-icon>
                  </button>
                  <button
                    (click)="
                  incrementTo(limits.skill, true, limits.skill);
                "
                    mat-icon-button
                    type="button"
                    color="primary"
                  >
                    <mat-icon>redo</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <mat-list>
              <mat-list-item fxFlexAlign="end">
                Remaining Points {{ character.subSkillpoints[limits.skill] }}
              </mat-list-item>
              <mat-list-item *ngFor="let subskill of subskills[limits.skill]; let i = index">
                <div fxLayout="row" fxFlex="90" fxLayoutGap="1em">
                  <div fxFlex.gt-sm="30" fxFlex="50">
                    {{ subskill }}
                  </div>
                  <div fxFlex.gt-sm="20" fxFlex="20">
                    <input
                      (blur)="updateCharacterSubskill(subskill, limits.skill, $event.target.value)"
                      matInput
                      tabindex="{{ i+11 }}"
                      (keydown.enter)="$event.target.blur(); (false)"
                      autocomplete="off"
                      class="editable"
                      type="number"
                      placeholder="0"
                      [ngModel]="character.skills[subskill]"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div
                    fxFlex.gt-sm="10"
                    fxFlex="20"
                    class="align-right"
                    [ngClass]="(character.modifiers[subskill] >= 0 || !character.modifiers[subskill])?'modifier-bonus':'modifier-malus'"
                  >
                    {{ skillCalculation.formatModifier(character.modifiers[subskill]) || 0 }}
                  </div>
                  <div fxFlex="10" class="align-right">
                    {{ skillCalculation.calculateSkill(character.modifiers[subskill], character.skills[subskill]) }}
                  </div>
                </div>
                <button
                  (click)="increment(subskill, false, limits.skill);"
                  type="button"
                  mat-icon-button
                  color="primary"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  (click)="decrement(subskill, false, limits.skill);"
                  mat-icon-button
                  color="primary"
                  type="button"
                >
                  <mat-icon>remove</mat-icon>
                </button>
                <button
                  (click)="incrementTo(subskill, false, limits.skill);"
                  mat-icon-button
                  color="primary"
                  type="button"
                >
                  <mat-icon>redo</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </form>
</mat-card>
