<mat-card class="full-height" ngStyle.lt-md="height: 600px">
  <mat-form-field class="full-width" appearance="outline" color="primary">
    <mat-label>Search for items</mat-label>
    <input [(ngModel)]="filterTerm" matInput minlength="2" (keyup)="applyFilter($event)" />
    <button mat-button *ngIf="filterTerm" matSuffix mat-icon-button aria-label="Clear" (click)="filterTerm='';applyFilter($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-tab-group
    class="height-90 item-dblist"
    animationDuration="0ms"
    [(selectedIndex)]="selectedIndex"
  >
    <mat-tab
      *ngFor="let category of items | keyvalue; index as i"
      [label]="category.key.substring(1)"
      class="height-90"
    >
      <mat-list class="scrollable">
        <ng-container *ngFor="let requirement of category.value; index as k">
          <mat-accordion displayMode="flat">
            <mat-expansion-panel [expanded]="step === requirement[0] || isAlwaysExpanded(requirement[0])" (opened)="setStep(requirement[0])">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ requirement[0] }}</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list>
                <mat-list-item *ngFor="let item of requirement[1]"
                               (click)="addToSetup(item)"
                               class="click-item">

                  <mat-icon mat-list-icon>add</mat-icon>

                  <app-item-description [item]="item" class="full-width"></app-item-description>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
