<div fxLayout="column" fxLayoutGap="5%" class="margintop">

  <div fxFlex fxLayoutGap="10px" class="options">
    <button mat-raised-button
            color="primary"
            (click)="setAllProtectionValue(defaultProtections.foreignCastHoly)"
            type="button"
    >
      Foreign-cast holy shields
      <mat-icon>shield</mat-icon>
    </button>

    <button mat-raised-button
            color="primary"
            (click)="setAllProtectionValue(defaultProtections.selfCastHoly)"
            type="button"
    >
      Self-cast holy shields
      <mat-icon>add_moderator</mat-icon>
    </button>

    <button mat-raised-button
            color="primary"
            (click)="setAllProtectionValue(defaultProtections.selfCastBlessed)"
            type="button"
    >
      Self-cast blessed shields
      <mat-icon>add_moderator</mat-icon>
    </button>

    <button mat-raised-button
            color="primary"
            (click)="setAllProtectionValue(defaultProtections.injectNanites)"
            type="button"
    >
      Inject Nanites
      <mat-icon>colorize</mat-icon>
    </button>

    <button mat-raised-button
            color="primary"
            (click)="setAllProtectionValue(0)"
            type="button"
    >
      Remove protection
      <mat-icon>remove_moderator</mat-icon>
    </button>
  </div>


  <mat-list>
    <mat-list-item>
      <div
        fxLayout="row"
        fxFlex="90"
        fxLayoutGap="1em">
        <div fxFlex="50">
          Protection %
        </div>
        <div fxFlex="20">
          <input
            (blur)="setAllProtectionValue($event.target.value)"
            matInput
            autocomplete="off"
            class="editable"
            type="number"
            placeholder="0"
            [(ngModel)]="allProtection"
          />
        </div>
      </div>
      <button
        (click)="increment();"
        type="button"
        mat-icon-button
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        (click)="decrement();"
        mat-icon-button
        type="button"
        color="primary"
      >
        <mat-icon small>remove</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item *ngFor="let resist of resists">
      <div
        fxLayout="row"
        fxFlex="90"
        fxLayoutGap="1em">
        <div fxFlex="50">
          {{ resist }} %
        </div>
        <div fxFlex="20">
          <input
            (blur)="updateProtectionValue(resist, $event.target.value)"
            matInput
            autocomplete="off"
            class="editable"
            type="number"
            placeholder="0"
            [(ngModel)]="character.protection[resist]"
          />
        </div>
      </div>
      <button
        (click)="increment(resist);"
        type="button"
        mat-icon-button
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        (click)="decrement(resist);"
        mat-icon-button
        type="button"
        color="primary"
      >
        <mat-icon small>remove</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
