<div
  fxLayout="column"
  fxLayoutGap="15px"
  style="padding: 15px; max-width: 1350px; margin: auto"
>
  <app-characterinfo class="full-width"></app-characterinfo>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="33.3">
      <app-calculator class="full-height"></app-calculator>
    </div>
    <app-charbuilder fxLayout="column" fxFlex="33.3"></app-charbuilder>
    <app-itemdb fxLayout="column" fxFlex="33.3"></app-itemdb>
  </div>
  <app-resistviewer></app-resistviewer>
</div>
<div class="impressum">
  <a href="#" onClick="window.open('./assets/impressum.html', '_blank')"
    >Impressum</a
  >
</div>

<app-imageexport> </app-imageexport>
