<div
  class="margintop"
  fxLayout="column">
  <div
    fxLayout="row wrap"
    fxFlex
  >
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs1"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs2"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs3"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs4"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs5"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs6"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs7"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex="50"
      fxFlex.gt-xs="25"
      itemName="drugs8"
      [character]="character"
    ></app-genericslot>
  </div>
</div>
<div fxLayout.lt-sm="" fxLayout.gt-sm="column">
  <div
    class="modifiers modifiers--drugs"
    fxLayoutAlign="space-evenly space-around"
  >
    <span class="loader">Drug Flash</span>
    <span
      *ngIf="drugFlashIndex > 7"
      class="loader"
      style="top: 70%; color: red;"
      >YOU ARE DEAD</span
    >
    <div class="noise" [style.opacity]="drugFlashIndex / 10"></div>
  </div>
</div>
