<div id="image-export-wrapper">
  <mat-card id="image-export">
    <div class="title">
      <span>NEOSKILLER</span>
    </div>

    <div class="image-export-container" fxLayout="row">
      <div class="image-export-header" fxFlex="50">{{ character.name }}</div>
      <div class="image-export-header" fxFlex="50">{{ character.class }}</div>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
      <div fxFlex="75">
        <div fxLayout="column" fxFlex="100">
          <div fxLayout="row" class="image-export-container">
            <div *ngFor="let skill of skills" fxFlex="20" class="image-export-skill">
              {{ skillnames[skill].toUpperCase() }}
              {{ skillCalculation.calculateSkill(character.modifiers[skill], character.skills[skill]) }}
              <span
                *ngIf="character.modifiers[skill]"
                [ngClass]="(character.modifiers[skill] >= 0)?'modifier-bonus':'modifier-malus'">
                {{ skillCalculation.formatModifier(character.modifiers[skill]) }}
              </span>

              <div *ngFor="let subskill of subskills[skill]"
                   [ngClass]="(skillCalculation.calculateSkill(character.modifiers[subskill], character.skills[subskill]) > 0)?'image-export-subskill' : 'image-export-subskill is-zero'">
                {{ subskill }}
                {{ skillCalculation.calculateSkill(character.modifiers[subskill], character.skills[subskill]) }}
                <span
                  *ngIf="character.modifiers[subskill]"
                  [ngClass]="(character.modifiers[subskill] >= 0)?'modifier-bonus':'modifier-malus'">
                    {{ skillCalculation.formatModifier(character.modifiers[subskill]) }}
                 </span>
              </div>
            </div>
          </div>

          <div class="image-export-container">
            <mat-card-title>Implants</mat-card-title>

            <div *ngIf="!hasItems(implants)">
              No implants implanted
            </div>
            <div fxLayout="row wrap" class="image-export-item-container" *ngIf="hasItems(implants)">
              <ng-container *ngFor="let implant of implants">
                <app-imageexport-item
                  fxFlex="33.3"
                  *ngIf="character.setup[implant]"
                  [item]="character.setup[implant]"
                ></app-imageexport-item>
              </ng-container>
            </div>
          </div>

          <div class="image-export-container">
            <mat-card-title>Bones</mat-card-title>

            <div *ngIf="!hasItems(bones)">
              No bones implanted
            </div>
            <div fxLayout="row wrap" class="image-export-item-container" *ngIf="hasItems(bones)">
              <ng-container *ngFor="let bone of bones">
                <app-imageexport-item
                  fxFlex="33.3"
                  *ngIf="character.setup[bone]"
                  [item]="character.setup[bone]"
                ></app-imageexport-item>
              </ng-container>
            </div>
          </div>
          <app-resistviewer></app-resistviewer>
        </div>
      </div>

      <div fxFlex="25">
        <div class="image-export-container">
          <mat-card-title>Armor</mat-card-title>

          <div *ngIf="!hasItems(armors)">
            No armor equipped
          </div>
          <div fxLayout="row wrap" class="image-export-item-container" *ngIf="hasItems(armors)">
            <ng-container *ngFor="let armor of armors">
              <app-imageexport-item
                fxFlex="100"
                *ngIf="character.setup[armor]"
                [item]="character.setup[armor]"
              ></app-imageexport-item>
            </ng-container>
          </div>
        </div>

        <div class="image-export-container image-export-item-container" *ngIf="hasItems(psis) || hasItems(drugs)">
          <mat-card-title>Drugs & Psi</mat-card-title>

          <div fxLayout="row wrap">
            <ng-container *ngFor="let drug of drugs">
              <app-imageexport-item
                fxFlex="100"
                *ngIf="character.setup[drug]"
                [item]="character.setup[drug]"
              ></app-imageexport-item>
            </ng-container>

            <ng-container *ngFor="let psi of psis">
              <app-imageexport-item
                fxFlex="100"
                *ngIf="character.setup[psi]"
                [item]="character.setup[psi]"
              ></app-imageexport-item>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div id="loading-overlay">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
