<mat-list>
    <mat-list-item *ngFor="let name of data" mat-list-item style="cursor: pointer;">
        <span fxFlex="70" (click)="openLink(name)" title="Load {{name}">{{name}}</span>
        <mat-icon fxFlex="10" (click)="openLink(name)" title="Load {{name}}">drive_folder_upload</mat-icon>
        <span fxFlex="10">&nbsp;</span>
        <mat-icon fxFlex="10" (click)="delete(name)" title="Delete {{name}}">delete</mat-icon>
    </mat-list-item>
</mat-list>
