<mat-list>
  <mat-list-item *ngFor="let weapon of character.setup.weapons" (click)="removeSlot(weapon)">
    <app-item-description
      [item]="weapon"
      [bigPicture]="true"
      class="full-width">
    </app-item-description>
  </mat-list-item>
</mat-list>
