// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/color-definitions";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@font-face {
  font-family: "Visitor TT1";
  src: url(./assets/fonts/rpos.ttf);
}

@font-face {
  font-family: "Brickle";
  src: url(./assets/fonts/BRICKLE_.TTF);
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$neocron-build-manager-template-primary: mat-palette($md-primary);
// $neocron-build-manager-template-accent: mat-palette($mat-pink, A200, A100, A400);
$neocron-build-manager-template-accent: mat-palette($md-secondary);

$custom-typography: mat-typography-config(
  $font-family: '"Visitor TT1", Brickle',
  $body-1: mat-typography-level(18px, 25px, 400),
  $body-2: mat-typography-level(18px, 25px, 400),
);

@include angular-material-typography($custom-typography);

// The warn palette is optional (defaults to red).
$neocron-build-manager-template-warn: mat-palette($md-else);

$main-color: #82df50;
$border-color: rgba($main-color, 0.7);
$background-color: #202020;
$requirement-color: #dac27e;
$modifier-bonus-color: #4ee000;
$modifier-malus-color: #ff3535;
$font-color: #dbdbdb;

$resist-for-color: white;
$resist-fir-color: red;
$resist-pcr-color: #555555;
$resist-xrr-color: #9400d2;
$resist-enr-color: #1e1eff;
$resist-por-color: green;

$mat-dark-theme-foreground: (
  base: $font-color,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($font-color, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: $font-color,
  icons: $font-color,
  text: $font-color,
  slider-min: $font-color,
  slider-off: rgba($font-color, 0.3),
  slider-off-active: rgba($font-color, 0.3),
);

// Create the theme object (a Sass map containing all of the palettes).
$neocron-build-manager-template-theme: mat-dark-theme(
  $neocron-build-manager-template-primary,
  $neocron-build-manager-template-accent,
  $neocron-build-manager-template-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($neocron-build-manager-template-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/images/nc3.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url(./assets/images/background.jpg);
}

.impressum {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .mat-tab-body-wrapper {
  overflow: hidden;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
  outline: 1px solid slategrey;
}

.title {
  font-family: "Brickle";
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $main-color,
    0 0 30px $main-color, 0 0 40px $main-color, 0 0 55px $main-color,
    0 0 75px $main-color;
}

.mat-tab-label {
  min-width: auto !important;
  padding: 0 12px !important;
}

.mat-tab-body {
  overflow: hidden !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-card {
  background-color: $background-color;
  letter-spacing: 0.1px;
  text-shadow: 0 1px 1px #000;
}

.mat-list-text {
  margin-left: 10px !important;
}

.mat-form-field-infix {
  width: auto !important;
}

.options {
  button {
    margin-bottom: 10px;
  }
}

app-characterinfo {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }
}

app-calculator {
  .mat-list-item-content {
    padding: 0 !important;
  }

  .mat-tab-label {
    opacity: 1 !important;
  }

  .mat-tab-label-content {
    color: $requirement-color;
    font-size: 15px;
  }
}

app-calculator,
app-protection {
  $mat-icon-size: 20px;
  $mat-button-size: $mat-icon-size + 6px;

  .mat-icon-button {
    width: $mat-button-size;
    height: $mat-button-size;
    line-height: $mat-button-size;

    .mat-icon {
      height: $mat-icon-size;
      width: $mat-icon-size;
      font-size: $mat-icon-size;
      line-height: $mat-icon-size;
    }
  }
}

app-genericslot {
  height: 90px;
  font-size: 11px;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $border-color;

  app-armor & {
    height: 75px;
  }
}

.itemslot-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.itemslot-content {
  display: inline-block;
  margin: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    background: rgba(0, 0, 0, 0.2);
    padding: 3px;
  }
}

.margintop {
  margin-top: 15px;
}

.align-right {
  text-align: right;
}

.editable {
  text-align: right !important;
  padding-right: 4px !important;
  border: 1px solid $border-color !important;
}

.resist-slot {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.resist-box {
  border: 1px solid;
}

.resist {
  display: flex;
  padding: 3px 2px 2px 4px;
  margin-bottom: 3px;
  width: 100px;

  &--fir {
    background-color: rgba($resist-fir-color, 0.2);
  }

  &--for {
    background-color: rgba($resist-for-color, 0.2);
  }

  &--pcr {
    background-color: rgba($resist-pcr-color, 0.2);
  }

  &--xrr {
    background-color: rgba($resist-xrr-color, 0.2);
  }

  &--enr {
    background-color: rgba($resist-enr-color, 0.2);
  }

  &--por {
    background-color: rgba($resist-por-color, 0.2);
  }
}

.details {
  font-size: 14px !important;
  line-height: 14px !important;
  white-space: normal !important;
}

.mat-accordion .mat-expansion-panel {
  background-color: $background-color;
  color: white;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.click-item {
  cursor: pointer;
}

.container {
  margin: 2em;
}

.container-small {
  margin: 1em;
}

.full-width {
  width: 100%;
}

.item-image {
  display: flex;
  width: 84px;
  min-height: 84px;
  margin-right: 10px;
}

.item-dblist {
  max-height: 600px;
}

.item-dblist,
app-weapons {
  .mat-list-item {
    height: auto !important;
    border-bottom: 1px solid lighten($background-color, 5%);
    cursor: pointer;

    &:last-child {
      border-bottom: 0 none;
    }
  }
}

.scrollable {
  max-height: 100%;
  overflow: auto;
}

.full-height {
  height: 100%;
  overflow: hidden;
}

.height-90 {
  height: 90%;
  overflow: hidden;
}

.card-height {
  height: 100%;
  max-height: 950px;
}

.mat-list-text {
  margin-left: 50px;
}

.techlevel {
  font-size: 30px;
  margin-left: 10px;
}

.addbutton {
  position: absolute;
  right: 200px;
}

.mat-form-field-appearance-outline > .mat-form-field-wrapper {
  padding: 0 !important;
}

.modifiers-wrapper {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $border-color;
}

.modifiers {
  background-position: center;
  background-repeat: no-repeat;
  width: 100% !important;
  background-size: contain;
  line-height: 13px;
  font-size: 13px;
  box-sizing: border-box;
  position: relative;

  &--drugs {
    min-height: 250px;
  }
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
}

.noise {
  position: relative;
  width: 100%;
  background: transparent url(./assets/images/noise.png) 0 0;
  background-size: 320px 320px;
  opacity: 1;
  animation: noise 1s steps(8, end) infinite both;
}

.loader {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.marginright {
  margin-right: 19px;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mat-menu-panel {
  max-width: 100% !important;
  background: $background-color !important;
}

.highcharts-container,
.highcharts-container svg {
  width: 100% !important;
  height: 100% !important;
}

.modifier-bonus {
  color: $modifier-bonus-color;
}

.modifier-malus {
  color: $modifier-malus-color;
}

#loading-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  display: none;

  &.show {
    display: block;
  }

  mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

app-resistviewer {
  .resist-container {
    width: 900px;
    margin: auto;
  }
}

#image-export-wrapper {
  position: absolute;
  left: -99999px;
  top: 0;
  display: none;

  &.show {
    display: block;
  }
}

#image-export {
  width: 1150px;
  padding: 0;
  box-shadow: none;
  overflow: hidden;

  .title {
    font-size: 20px;
    line-height: inherit;
    margin: 15px 0 0 15px;
    text-align: left;
  }

  .mat-card-title {
    margin: 0 0 8px 0;
    font-size: 20px;
  }

  .image-export-header {
    font-size: 20px;
    line-height: 20px;
  }

  .image-export-container {
    padding: 15px;
  }

  .image-export-skill {
    font-size: 14px;
    line-height: 16px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    .image-export-subskill {
      font-size: 13px;
      padding-left: 15px;

      &.is-zero {
        color: grey;
      }
    }
  }

  app-resistviewer .resist-container {
    width: 100%;
  }

  .image-export-item-container {
    margin: -8px -5px;
  }
}

.tooltip {
  width: 280px;
  background-color: lighten($background-color, 5%);
  padding: 10px;
  color: $font-color;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 5px;
  text-align: left;

  .label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  img {
    max-height: 40px;
    max-width: 100%;

    &.is-big-picture {
      max-height: 60px;
    }
  }

  .item-requirement {
    font-size: 13px;
    margin-bottom: 2px;
    color: $requirement-color;

    span {
      white-space: nowrap;
      margin-right: 6px;

      &:after {
        content: ",";
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: "";
        }
      }
    }
  }

  .item-modifier {
    display: inline-block;
    margin-right: 6px;
    font-size: 11px;
    white-space: nowrap;

    &:after {
      content: ",";
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: "";
      }
    }
  }
}
