/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #f0fbea,
    100 : #daf5cb,
    200 : #c1efa8,
    300 : #a8e985,
    400 : #95e46a,
    500 : #82df50,
    600 : #7adb49,
    700 : #6fd740,
    800 : #65d237,
    900 : #52ca27,
    A100 : #ffffff,
    A200 : #dfffd4,
    A400 : #b8ffa1,
    A700 : #a5ff88,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #fffeea,
    100 : #fffdcb,
    200 : #fffca8,
    300 : #fffb85,
    400 : #fffa6b,
    500 : #fff951,
    600 : #fff84a,
    700 : #fff740,
    800 : #fff637,
    900 : #fff527,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffdd4,
    A700 : #fffbbb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-else: (
    50 : #e4e4e4,
    100 : #bcbcbc,
    200 : #909090,
    300 : #636363,
    400 : #414141,
    500 : #202020,
    600 : #1c1c1c,
    700 : #181818,
    800 : #131313,
    900 : #0b0b0b,
    A100 : #e76c6c,
    A200 : #e04040,
    A400 : #ec0000,
    A700 : #d30000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

