<div fxLayout="row" fxLayout.gt-xs="column" class="margintop full-width">
  <div fxLayout.gt-xs="row" fxLayout="column" fxFlex>
    <app-genericslot
      fxFlex.gt-xs="20"
      itemName="brain1"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex.gt-xs="20"
      itemName="brain2"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex.gt-xs="20"
      itemName="brain3"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex.gt-xs="20"
      itemName="brain4"
      [character]="character"
    ></app-genericslot>
    <app-genericslot
      fxFlex.gt-xs="20"
      itemName="boneHead"
      [character]="character"
    ></app-genericslot>
  </div>
  <div fxLayout.gt-xs="row" fxLayout="column" fxFlex>
    <div fxHide.lt-sm fxFlex.gt-xs="60">
      <div class="modifiers-wrapper">
        <div
          class="modifiers full-width"
          [style.background-image]="
            'url(./assets/images/' + charClass + '.png)'
          "
          fxFill
        >
          <div fxLayout="row">
            <div fxFlex="50">
              <div
                mat-line
                *ngFor="let modifier of character.modifiers | keyvalue"
              >
                <ng-container *ngIf="modifier.value > 0">
                  {{ modifier.key }}: {{ modifier.value }}
                </ng-container>
              </div>
            </div>

            <div fxFlex="50" class="align-right">
              <div
                mat-line
                *ngFor="let modifier of character.modifiers | keyvalue"
              >
                <ng-container *ngIf="modifier.value < 0">
                  {{ modifier.key }}: {{ modifier.value }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex.gt-xs="20">
      <app-genericslot itemName="eye" [character]="character"></app-genericslot>
      <app-genericslot
        itemName="heart"
        [character]="character"
      ></app-genericslot>
      <app-genericslot
        itemName="glove"
        [character]="character"
      ></app-genericslot>
      <app-genericslot
        itemName="backbone"
        [character]="character"
      ></app-genericslot>
    </div>
    <div fxLayout="column" fxFlex.gt-xs="20">
      <app-genericslot
        itemName="boneChest"
        [character]="character"
      ></app-genericslot>
      <app-genericslot
        itemName="boneArm"
        [character]="character"
      ></app-genericslot>
      <app-genericslot
        itemName="boneLeg"
        [character]="character"
      ></app-genericslot>
      <app-genericslot
        itemName="boneFoot"
        [character]="character"
      ></app-genericslot>
    </div>
  </div>
</div>
