
<div fxLayout="column" class="margintop">
  <div fxLayout="row">
    <div fxFlex="50" fxFlex.gt-xs="75" fxFlex.gt-md="80">
      <div class="modifiers-wrapper">
        <div
          class="modifiers"
          [style.background-image]="'url(./assets/images/' + charClass + '.png)'"
          fxFill>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly">
            <div
              class="resist-slot"
              *ngFor="let region of ['head', 'body', 'legs']">
              <span *ngFor="let resist of calculateResist(region) | keyvalue">
                <span class="resist" [ngClass]="'resist--' + resist.key">
                  {{ resist.key }}: {{ resist.value }}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="50" fxLayout.gt-xs="column" fxFlex.gt-xs="30" fxFlex.gt-md="20">
      <div fxLayout="column" fxFlex>
        <app-genericslot
          itemName="powerarmor"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="helmets"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="chokers"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="vests"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="belts"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="trousers"
          [character]="character"
        ></app-genericslot>
        <app-genericslot
          itemName="boots"
          [character]="character"
        ></app-genericslot>
      </div>
    </div>
  </div>
</div>
